<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="bsRenameProfile">
		<title>Rename Profile</title>
		<size>336,107</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Enter a new name for the selected profile.</label>
			<pos>24,16</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<pos>24,40</pos>
			<size>280,21</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Ok</label>
			<pos>24,72</pos>
			<size>96,23</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>Cancel</label>
			<pos>208,72</pos>
			<size>91,23</size>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
