<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="lsLoadDialog">
		<size>400,300</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxListBox" name="ID_LISTBOX1" variable="ListBox1" member="yes">
			<default>-1</default>
			<pos>32,48</pos>
			<size>336,176</size>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Load</label>
			<pos>32,248</pos>
			<size>144,29</size>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>Cancel</label>
			<pos>224,248</pos>
			<size>144,29</size>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Available Light Scripts</label>
			<pos>32,16</pos>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
		</object>
	</object>
</wxsmith>
