<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="lsOverwriteScript">
		<size>400,154</size>
		<id_arg>0</id_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Do you want to overwrite the current script file,</label>
			<pos>56,32</pos>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Label</label>
			<pos>56,56</pos>
			<size>256,17</size>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
			<style>wxALIGN_CENTRE</style>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Overwrite Script</label>
			<pos>40,96</pos>
			<size>136,29</size>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>Cancel</label>
			<pos>216,96</pos>
			<size>136,29</size>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
