<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="StopTimer">
		<size>319,128</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Are you sure you want to stop the 24- Hour Timer?</label>
			<pos>32,32</pos>
			<font>
				<size>8</size>
				<style>normal</style>
				<weight>normal</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Sans</face>
			</font>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Yes</label>
			<pos>32,80</pos>
			<size>112,32</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>No</label>
			<pos>176,80</pos>
			<size>112,32</size>
			<focused>1</focused>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxStopWatch" variable="StopWatch1" member="yes" />
	</object>
</wxsmith>
